<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <link rel="stylesheet" href="/compiled/css/general.css">
  {% block scripts %}
    <script>
      window.twigGlobalVariables = {{ twigGlobalVariables|json_encode|raw }};
    </script>
    <script src="/compiled/js/require.js"></script>
    <script src="/compiled/js/require.js.config.js"></script>
  {% endblock %}
</head>
<body>
{% block content %}
  <h1>empty content</h1>
{% endblock %}
</body>
</html>